@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Diet Page";
}

<style>

    .nutritionSources {
        border: dashed black;
        padding: 0 18px;
    }

    .nutritionSources li {
        list-style-type: none;
    }

        .nutritionSources ul {
            padding: 0 18px;
        }

    .nutritionSources p {
        font-weight: bold;
    }

    /* ---- CODE FOR ACCORDION ---- */
    .accordion {
        background-color: #ad3636;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        font-size: 17px;
        border: none;
        outline: none;
        transition: 0.4s;
    }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
            background-color: #FF0000;
            color: #fff;
        }

        .accordion:after {
            content: "\002B";
            float: right;
            margin-left: 15px;
        }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
        color: #593625;
    }

    .active:after {
        content: "\2212";
        float: right;
    }
</style>

<h1>Most Popular Diets Found in the United States</h1>
<p>
    This site will not tell you which diet is best for you.
    Please consult your doctor before choosing and changing your diet.
</p>
<!-- Vegan Diet -->
<button class="accordion">Vegan (Veganism)</button>
<div class="panel">
    <p>
        Veganism is a diet that avoids eating animal products. A few of these products are
        meat, eggs, dairy, honey, whey, and gelatin.
    </p>
    <p>
        Vegans and Vegetarians are two different diets. Vegans refuse to eat any form of animal products.
        Vegetarians personal determine which animal products they consider acceptable. Vegetarians
        refuse to kill animals for meat, but they will consume milk and eggs if the
        animal is treated ethically.
    </p>

    <button class="accordion">Can Eat</button>
    <div class="panel">
        <ul>
            <li>Vegetables and Fruits</li>
            <li>Legumes (Peas, Beans, and Lentils)</li>
            <li>Nuts and Seeds</li>
            <li>Breads, Rice, and Pasta</li>
            <li>Alternatives to Dairy (Soy, Coconut, and Almond Milk)</li>
            <li>Tofu and Other Meat Substitutes</li>
            <li>Seaweed</li>
        </ul>
    </div>

    <button class="accordion">Cannot Eat</button>
    <div class="panel">
        <ul>
            <li>Honey</li>
            <li>Meat (Beef, Pork, Lamb, Chicken, Duck, Venison)</li>
            <li>Fish and Seafood</li>
            <li>
                Eggs
                <ul>
                    <li>Mayonnaise (If Made with Egg Yolks)</li>
                </ul>
            </li>
            <li>
                Any Form of Products Produced by Cow Milk
                <ul>
                    <li>Butter</li>
                    <li>Cheese</li>
                    <li>Milk</li>
                    <li>Ice Cream</li>
                    <li>Cream</li>
                </ul>
            </li>
        </ul>
        <p>Some items listed above do have a vegan alternative.</p>
    </div>

    <div class="nutritionSources">
        <p>Sources</p>
        <ul>
            <li>website 1</li>
        </ul>
    </div>
</div>

<!-- Keto Diet -->
<button class="accordion">Keto Diet (Ketogenic Diet)</button>
<div class="panel">
    <p>
        The Keto Diet is a low carb, high fat diet. It shifts the body's
        metabolism away from carbs and towards fat and ketones.
    </p>

    <button class="accordion">Can Eat</button>
    <div class="panel">
        <ul>
            <li>Meat (Beef, Pork, Lamb, Wild Game, and Poultry</li>
            <li>Tofu and Other Meat Subsitutes</li>
            <li>Fish and Seafood</li>
            <li>Eggs</li>
            <li>
                Keto-Friendly Vegetables
                <ul>
                    <li>Leafy Greens</li>
                    <li>Cucumber</li>
                    <li>Celery</li>
                    <li>Radishes</li>
                    <li>Cauliflower</li>
                    <li>Cabbage</li>
                    <li>Avacado</li>
                    <li>Broccoli</li>
                    <li>Zucchini</li>
                </ul>
            </li>
            <li>
                Special Keto or Low Carb Products - Limit how much you consume. They lack nutritional value 
                and that can lead to craving for carbs.
            </li>
            <li>
                Fruits
                <ul>
                    <li>Berries, Lemons, Limes, and Melons are fine in small serving sizes.</li>
                </ul>
            </li>
            <li>Nuts and Seeds</li>
            <li>Cheese and Full-Fat Dairy</li>
        </ul>
    </div>

    <button class="accordion">Cannot Eat</button>
    <div class="panel">
        <ul>
            <li>Milk - the milk sugar adds up fast</li>
            <li>Low-Fat Yogurt</li>
            <li>Sugar Filled Foods</li>
            <li>
                Starchy Foods
                <ul>
                    <li>Bread</li>
                    <li>Tortillas</li>
                    <li>Pasta</li>
                    <li>Potatoes</li>
                    <li>Chips</li>
                    <li>Legumes</li>
                    <li>Cereal</li>
                    <li>Oatmeal</li>
                </ul>
            </li>
            <li>Dry Wine, Distillied Spirits, Low-Carb Beer</li>
        </ul>
    </div>
    <div class="nutritionSources">
        <p>Sources</p>
        <ul>
            <li>https://www.dietdoctor.com/low-carb/keto/foods</li>
        </ul>
    </div>
</div>

<!-- Paleo Diet -->
<button class="accordion">Paleo Diet (Paleolithic Diet)</button>
<div class="panel">
    <p>
        The Paleo Diet is diet based on foods presumed to be eating by
        early humans. It does have the risk for increased kidney and coronary disease
        and the risk for some cancers.
    </p>

    <button class="accordion">Can Eat</button>
    <div class="panel">
        <ul>
            <li>Fruits and Vegetables</li>
            <li>Nuts and Seeds</li>
            <li>Lean Meats</li>
            <li>Fish and Seafood</li>
            <li>Eggs</li>
        </ul>
    </div>

    <button class="accordion">Cannot Eat</button>
    <div class="panel">
        <ul>
            <li>Grains (Wheat, Oats, and Barley)</li>
            <li>Legumes (Beans, Lentils, Peas, and Peanuts)</li>
            <li>Dairy</li>
            <li>Foods with Trans Fats</li>
            <li>Foods with Refined Sugars</li>
            <li>Artificial Sweetners</li>
            <li>Low-Fat Foods</li>
            <li>Diet Products</li>
            <li>Salt</li>
        </ul>
    </div>

    <div class="nutritionSources">
        <p>Sources</p>
        <ul>
            <li>website 1</li>
        </ul>
    </div>
</div>

<!-- Gluten-Free Diet -->
<button class="accordion">Gluten-Free Diet</button>
<div class="panel">
    <p>
        The Gluten-Free Diet excludes the consumption of gluten.
        It is a popular diet today. People with Celiac's Disease follows this
        diet.
    </p>
    <p>
        This diet is expensive to follow.
    </p>

    <button class="accordion">Can Eat</button>
    <div class="panel">
        <ul>
            <li>Fruits and Vegetables</li>
            <li>Seeds, Nuts, Beans, Legumes</li>
            <li>Eggs</li>
            <li>Lean Meats</li>
            <li>Fish</li>
            <li>Low-Fat Dairy Products</li>
        </ul>
    </div>

    <button class="accordion">Cannot Eat</button>
    <div class="panel">
        <ul>
            <li>Bread</li>
            <li>Cereal</li>
            <li>Cake and Pie</li>
            <li>Imitation Meat and Seafood</li>
            <li>Processed Meat (Like Hot Dogs and Lunchmeats)</li>
            <li>Pasta</li>
            <li>Cookies and Crackers</li>
            <li>Communion Wafers</li>
            <li>Chips</li>
            <li>Soup, Bouillon, Soup Mixes</li>
            <li>Vegetables in Sauce</li>
        </ul>
    </div>

    <div class="nutritionSources">
        <p>Sources</p>
        <ul>
            <li>website 1</li>
        </ul>
    </div>
</div>

<!-- Mediterranean Diet -->
<button class="accordion">Mediterranean Diet</button>
<div class="panel">
    <p>
        This diet is inspired by the eating habits of Greece,
        Italy, and Spain during the 60s.

        This diet is low in red meant, sugar, and saturated food.
        And it is high in produce, nuts, and other healthy foods.

        It also comes with many healthy benefits. Such as weight loss,
        cancer and diabeties prevention, and weight loss to include
        some of the benefits.
    </p>

    <button class="accordion">Can Eat</button>
    <div class="panel">
        <ul>
            <li>Fruits and Vegetables</li>
            <li>Whole Grains</li>
            <li>Healthy Fats</li>
            <li>Fish and Seafood</li>
            <li>Limit Red Meat</li>
        </ul>
    </div>

    <button class="accordion">Cannot Eat</button>
    <div class="panel">
        <ul>
            <li>
                Grains
                <ul>
                    <li>Bread</li>
                    <li>Pasta</li>
                    <li>Anything That Contains White Flour</li>
                </ul>
            </li>
            <li>Refined Oils (Canola and Soybean Oils)</li>
            <li>
                Food with Added Sugars
                <ul>
                    <li>Pastries</li>
                    <li>Soda</li>
                    <li>Candies</li>
                </ul>
            </li>
            <li>
                Processed Food
                <ul>
                    <li>Deli Meats</li>
                    <li>Hot Dogs</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="nutritionSources">
    <p>Sources</p>
        <ul>
            <li>website 1</li>
        </ul>
    </div>
</div>

<!-- Tips and Tricks -->
<button class="accordion">Tips and Tricks</button>
<div class="panel">
    <ul>
        <li>Oatmeal is okay to eat when prepared properly.</li>
        <li>Oatmeal is often considered not heart healthy.</li>
        <li>Avoid low fat foods. They contain more sugar than that regular food option</li>
        <li>
            Subtract the amount of fiber from the total amount of carbohydrates. The human body
            cannot digest fiber.
            <ul>
                <li>
                    Example: If an item has 8 grams of fiber and 30 grams of total carbohydrates.
                    The food item would have 26 grams of carbs.
                </li>
                <li>People with diabetes or on the keto diet will benefit from this tip.</li>
            </ul>
        </li>
        <li>
            Be sure to consume enough Vitamin D, Calcium, and Iron if your are
            on a vegan diet. If you lack these vitamins and minerals, you will need to take supplements
            to compensate.
        </li>
        <li>Do not skip breakfast.</li>
        <li>Drink more water!</li>
        <li>
            Become more active. You do not need to run three miles, but a brisk walk
            aroud the block can make a difference.
        </li>
    </ul>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>