@{
    ViewData["Title"] = "Home Page";
}

<div class="HomeRow">
    <div class="HomeCol1">
        <h2>Don't sit,<br />get FitKit.</h2>
        <p>The Fit Kit website is an overall informative website that wants to make the customer healthier and happier.</p>
        <p class="SignIn">Already using FitKit? <a href='/Identity/Account/Login'>Sign In.</a></p>
    </div>
    <div class="HomeCol2">
        <img src="~/Images/logo.png" class="logo" />
    </div>
</div>
