@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@model FitKit.Models.Exercise 
<h1>Tracker Page</h1>

<style>
    input[type=text] {
        width: 25%;
        padding: 10px 15px;
        margin: 4px 0;
        box-sizing: border-box;
        background-color: white;
    }

    button, #exerSubmit {
        background-color: red;
        border: none;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    #exercises {
        float: right;
        position: relative;
        right: 500px;
        top: -250px;
    }

    h4 {
        margin-top: 30px;
    }
</style>

<h4>Calculate How Many You Have Not Burned or Used</h4>
<form>
    <label for="calsAte">Calories Consumed:</label><br>
    <input type="number" id="calsAte" name="calsAte"><br>
    <label for="calsBurned">Calories Burned:</label><br>
    <input type="number" id="calsBurned" name="calsBurned"><br>
    <button onclick="calories(document.getElementById('calsAte').value,document.getElementById('calsBurned').value)">Submit</button>
</form>

<h4>Keep Track Of Your Exercises</h4>
<form asp-action="Tracker" asp-controller="Home">
    <label asp-for="Name">Exercise Name:</label><br />
    <input asp-for="Name" /><br />
    <label asp-for="NumSets">Number of Sets:</label><br />
    <input asp-for="NumSets" /><br />
    <label asp-for="NumReps">Number of Reps:</label><br />
    <input asp-for="NumReps" /><br />
    <label asp-for="Weight">Weight:</label><br />
    <input asp-for="Weight" /><br />
    <input id="exerSubmit" type="submit" value="Submit" />
    <textarea name="exercises" readonly id="exercises" rows="10" cols="30"></textarea>
</form>


<script src="wwwroot\js\site.js" language="javascript" type="text/javascript"></script>