/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: red;
  border-color: brown;
}

.btn-primary:hover {
    background-color: darkred;
    border-color: brown;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* ---- CODE FOR ACCORDION ---- */
.accordion {
    background-color: #eee;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 17px;
    border: none;
    outline: none;
    transition: 0.4s;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #FF0000;
        color: #fff;
    }

    .accordion:after {
        content: "\002B";
        float: right;
        margin-left: 15px;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    color: #000;
}

.active:after {
    content: "\2212";
    float: right;
}

/* Design for the home page*/
.HomeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.HomeCol1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.HomeCol1 h2 {
    font-size: 54px;
}

.HomeCol1 p {
    font-size: 16px;
    font-weight: 100;
}

.HomeCol1 .SignIn {
    font-size: 12px;
}

.HomeCol1::after {
    content: '';
    width: 10px;
    height: 70%;
    background: #ad3636;
    position: absolute;
    left: -40px;
    top: 8px;
}

.HomeCol2 {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.HomeCol2 .logo {
    width: 80%;
}

/*Exercise page design*/


@media only screen and (max-width: 768px) {
    .HomeRow {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .HomeCol2 {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .HomeCol2 .logo {
        width: 67%;
    }

    .HomeCol1 {
        flex-basis: 100%;
    }

    .HomeCol1 h2 {
        font-size: 35px;
    }

}